INSTANCE_CONNECTION_NAME=upbeat-repeater-477110-q6:us-central1:sdlc-etl-demo-db
POSTGRES_DB=postgres
POSTGRES_USER=559906504681-compute@developer
CLOUD_SQL_IP_TYPE=PRIVATE
GCP_PROJECT_ID=upbeat-repeater-477110-q6
BIGQUERY_DATASET=analytics
BIGQUERY_TABLE=vishesh_postgres_test1
POSTGRES_PORT=5432
