fastapi>=0.100.0
httpx>=0.24.0
passlib[bcrypt]
Pillow
pydantic-settings>=2.0.0
pydantic>=2.0.0
pydantic[email]
pytest-asyncio>=0.21.0
pytest>=7.0.0
python-dateutil
python-multipart>=0.0.6
reportlab
sqlalchemy>=2.0.0
starlette
uvicorn[standard]>=0.22.0
