bcrypt>=4.0.0
fastapi>=0.100.0
httpx>=0.24.0
passlib[bcrypt]
passlib[bcrypt]>=1.7.4
Pillow
pydantic>=2.0.0
pydantic[email]
pytest>=7.0.0
python-dateutil
python-multipart>=0.0.6
reportlab
sqlalchemy>=2.0.0
starlette
uvicorn>=0.22.0
